@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(180deg,#000000,rgb(43, 214, 226));
}

.contact h2{
    font-size: 50px;
    color: #ededed;
    text-align: center;
    margin-bottom: 10px;
}

.contact form{
    width: 600px;
    text-align: center;
}



.input-box .input-field{
    width: 100%;
}

.field .item{
    width: 100%;
    padding: 18px;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #000000;
    margin: 12px 0;
}

.field.error .item{
    border-color: #d93025;
}

.field .item::placeholder{
    color: rgba(0, 0, 0, 1);
}

.field .error-txt{
    font-size: 20.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt{
    display: block;
}

form .textarea-field .item{
    resize: none;
}

form .textarea-field .error-txt{
    margin-top: -10px;
}

form button{
    padding: 12px 32px;
    background: rgb(228, 231, 130);
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
    font-size: 16px;
    color: #333;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .5s;
}

form button:hover{
    box-shadow: none;

}